{% comment %}
This file can be overridden to add content below the footer.
{% endcomment %}
<div class="pieEustat">
    <div class="marcopie">
      <div class="row">
        <div class="col-sx-12 col-sm-1 col-md-1 col-lg-1">
        </div>
        <div class="col-sx-12 col-sm-4 col-md-2 col-lg-3 ">
          <div class="centradomini">
            <ul class="list-group iconillo rupturasmall">
              <li class="bloquenubessmall"><a id="ctl00_Pie_pieCOL01_01" class="list-group-item2 enlaceblanco"
                  data-ajax="false" href="https://www.eustat.eus/about/links_c.html">Enlaces</a></li>
              <li class="bloquenubessmall"><a id="ctl00_Pie_pieCOL01_02" class="list-group-item2 enlaceblanco"
                  data-ajax="false" href="https://www.eustat.eus/faq_c.html">FAQ</a></li>
              <li class="bloquenubessmall"><a id="ctl00_Pie_pieCOL01_03" class="list-group-item2 enlaceblanco"
                  data-ajax="false" href="https://www.eustat.eus/sitemap_c.html">Mapa</a></li>
              <li class="bloquenubessmall"><a id="ctl00_Pie_pieCOL01_04" class="list-group-item2 enlaceblanco"
                  data-ajax="false" href="https://www.eustat.eus/accesibilidad_c.html">Accesibilidad</a></li>
            </ul>
          </div>
        </div>
        <div class="col-sx-12 col-sm-4 col-md-2 col-lg-3 ">
          <div class="centradomini">
            <div class="Prayamini"></div>
            <ul class="list-group iconillo rupturasmall">
              <li class="bloquenubessmall"><a id="ctl00_Pie_pieCOL02_01" class="list-group-item2 enlaceblanco"
                  data-ajax="false" href="/about/a_eustat_c.html">Acerca de Eustat</a></li>
              <li class="bloquenubessmall"><a id="ctl00_Pie_pieCOL02_02" class="list-group-item2 enlaceblanco"
                  data-ajax="false" href="https://euskadi.eus/">Sede electrónica</a></li>
              <li class="bloquenubessmall"><a id="ctl00_Pie_pieCOL02_03" class="list-group-item2 enlaceblanco"
                  data-ajax="false" href="https://www.eustat.eus/privacidad_c.html">Privacidad</a></li>
            </ul>
          </div>
        </div>

        <div class="col-sx-10 col-sm-10 col-md-5 col-lg-5 barritaizquierda">
          <div class="piederecho">
            <div class="logoaenorpie">
              <a id="ctl00_Pie_pieCOL03_07" data-ajax="false" href="https://www.eustat.eus/about/aenor_c.html"><img
                  src="https://www.eustat.eus/cwImages/2015/aenor_2022_c.png" alt="AENOR" style="border-width:0px;"></a>
              <a id="ctl00_Pie_pieCOL03_07b" data-ajax="false" href="https://www.eustat.eus/about/aenor_c.html"><img
                  src="https://www.eustat.eus/cwImages/2015/logo_ENS_2022.png" alt="AENOR" style="border-width:0px;"></a>
            </div>
            <p class="piederechopn">Eustat - Euskal Estatistika Erakundea - Instituto Vasco de Estadística</p>
            <p class="piederechop">Eustat es el organismo público que desarrolla, produce y difunde información
              estadística oficial de la C.A. de Euskadi</p>
            <p class="piederechop piederechop50">
              c/Donostia - San Sebastián, 1<br>
              01010 Vitoria-Gasteiz<br>
              Tfno: (+34) 945017500<br>
              Fax: (+34) 945017501<br>
              webmaster_eustat@eustat.eus
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>