{% include multilingual-js.html key="header" %}
<a class="sr-only-focusable" id="skiplink" href="#main-content" tabindex="0">{{ page.t.header.skip_link }}</a>
{% include components/header/internet-explorer-message.html %}
<header role="banner" class="">
  <div class="header" >
    <div class="header-top">
        <div id="logo" class="logo-header">
            <a id="logo-link" href="https://www.eustat.eus/indice.html">
                <img src="https://www.eustat.eus/cwImages/2015/logocabecera.png" alt="eustat">
            </a>
            <div class="logo-header-description">
                Euskal Estatistika Erakundea<br>Instituto Vasco de Estadística
            </div>
        </div>
        <div id="trigger_home" class="menu-button">
            <img id="menu-button-img" src="https://www.eustat.eus/cwImages/2015/ham.png" alt="Mostrar/ocultar menu principal">
        </div>
    </div>
    <div class="zutabeak">
        <div class="o-content-zutabe">
            <ul>
                <li><a id="ctl00_Cabecera_cabCOL01_01" data-ajax="false" href="https://www.eustat.eus/estadisticas/opt_0/id_All/temalista.html">Temas</a></li>
                <li><a id="ctl00_Cabecera_cabCOL01_02" data-ajax="false" href="https://www.eustat.eus/estadisticas/opt_1/id_All/temalista.html">Operaciones</a></li>
                <li><a id="ctl00_Cabecera_cabCOL01_03" data-ajax="false" href="https://www.eustat.eus/bancopx/spanish/indice.html">Banco de datos</a></li>
                <li><a id="ctl00_Cabecera_cabCOL01_04" data-ajax="false" onclick="cambiaTemasOperaciones(2);" href="https://www.eustat.eus/indice.html#cy">Coyuntura</a></li>
                <li><a id="ctl00_Cabecera_cabCOL01_05" data-ajax="false" href="https://www.eustat.eus/municipal/datos_estadisticos/info_territorial_c.asp">Info. municipal</a></li>
            </ul>
        </div>
        <div class="o-content-zutabe">
            <ul>
                <li><a id="ctl00_Cabecera_cabCOL02_01" data-ajax="false" href="https://www.eustat.eus/estadisticas/calendario.html">Calendario</a></li>
                <li><a id="ctl00_Cabecera_cabCOL02_02" data-ajax="false" href="https://www.eustat.eus/productosServicios/sugerencias.html">Quejas y sugerencias</a></li>
                <li><a id="ctl00_Cabecera_cabCOL02_03" data-ajax="false" href="https://www.eustat.eusprodserv/info_c.html">Servicio de información</a></li>
                <li><a id="ctl00_Cabecera_cabCOL02_04" data-ajax="false" href="https://www.eustat.eus/notas_c.html">Servicio de prensa</a></li>
            </ul>
        </div>
    </div><!-- zutabeak -->
</div>
<script type="text/javascript">
document.addEventListener('DOMContentLoaded', function () {
    console.log('DOM completamente cargado y procesado');
    var container = document.querySelector('.header');
    var zutabeak = document.querySelector('.zutabeak');

    function buildCanvas() {
        document.getElementById('trigger_home').addEventListener('click', function (e) {
            console.log("hey");
            
            e.preventDefault();
            container.classList.toggle('active');
            zutabeak.classList.toggle('active');
            if (container.classList.contains('active')) {
                
                document.getElementById('menu-button-img').src = "https://www.eustat.eus/cwImages/2015/aspa.png";
               
            } else {
                document.getElementById('menu-button-img').src = "https://www.eustat.eus/cwImages/2015/ham.png";
                
            }
        });
    }

    buildCanvas();

    window.addEventListener('resize', function () {
        cHeight = document.querySelector('.o-content').offsetHeight;
    });

    window.addEventListener('scroll', function () {
        if (window.scrollY > 500) {
            document.querySelector('.scrollup').style.display = 'block';
        } else {
            document.querySelector('.scrollup').style.display = 'none';
        }
    });
});
</script>
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light flex-wrap align-items-start">

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="{{ page.t.header.show_menu }}">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="d-flex flex-wrap w-100 justify-content-between">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          {% include navigation.html dropdowns=true %}
        </div>
        <div class="header-search-bar">
          {% include search.html %}
        </div>
        <div class="header-toggles d-flex">
          {%- if site.languages.size > 1 and site.header_language_toggle != 'none' -%}
          {% include components/language-toggle.html %}
          <span class="no-js-language-toggle">{% include components/language-toggle-links.html %}</span>
          {%- endif -%}
          {% include components/contrast-toggle.html %}
        </div>
      </div>
    </nav>
  </div>
</header>
{% include components/page-top.html %}