// Enter any custom Sass in this file.
header {
  background: none;
  .container {
    min-height: 113px;
    .navbar-default {
      border: none;
    }
  }
}

header .barra_azul_cab {
  background: #013161 no-repeat scroll left bottom !important;
}
.logoMaster a {
  display: inline-block;
  vertical-align: middle;
}
.logoMasterDescripcion {
  border-left: 1px solid #fdbd03;
  color: #FFFFFF;
  font-size: 12px;
  font-size: 1.2rem;
  font-weight: bold;
  padding-left: 6px;
  padding-left: 0.6rem;
  margin-left: 4px;
  margin-left: 0.4rem;
  line-height: 13px;
  line-height: 1.3rem;
  display: inline-block;
  vertical-align: middle;
}
