// Enter any custom Sass in this file.
header {
  background: none;
  .container {
    min-height: 113px;
    .navbar-default {
      border: none;
    }
  }
}

header .barra_azul_cab {
  background: #013161 no-repeat scroll left bottom !important;
  padding-left: 1%;
}
.logoMaster a {
  display: inline-block;
  vertical-align: middle;
}
.logoMasterDescripcion {
  border-left: 1px solid #fdbd03;
  color: #FFFFFF;
  font-size: 12px;
  font-weight: bold;
  padding-left: 6px;
  margin-left: 4px;
  line-height: 13px;
  display: inline-block;
  vertical-align: middle;
}
* {
    font-family: 'Open Sans', sans-serif !important;
    color: #1a1a1a;
    letter-spacing: -0.04em !important;
}
body {
    background: white;
    padding-top: 0; 
}
